## Assignment ##

2765356D

### Exercise 2.1 ###

*Repeating my advice from the previous chapter, whenever you learn a new feature, you should try it out in interactive mode and make errors on purpose to see what goes wrong.*

We’ve seen that n = 42 is legal. What about 42 = n?

In [1]:
42 = n

SyntaxError: cannot assign to literal (3090476294.py, line 1)

The value cannot be assigned.

How about x = y = 1?

In [3]:
x = y = 1

In [4]:
x

1

In [5]:
y

1

Values can be assigned to x and y in this situation.

In some languages every statement ends with a semi-colon,what happens if you put a semi-colon at the end of a Python statement?

In [8]:
miles = 26.2;
miles * 1.61;

In [9]:
miles = 26.2;
miles * 1.61

42.182

If the statement ends with a semi-colon, the code will not run an output; while if a sentence ends with a semi-colon, the code can run successfully.

What if you put a period at the end of a statement?

In [10]:
miles = 26.2;
miles * 1.61.

SyntaxError: invalid syntax (531806481.py, line 2)

It will result in an error for invalid syntax.

In math notation you can multiply x and y like this: x y. What happens if you try that in Python?

In [14]:
x=2
y=4
x y

SyntaxError: invalid syntax (1229249827.py, line 3)

It will result in an error of invalid syntax.

### Exercise 2.2 ###

*Practice using the Python interpreter as a calculator:*

The volume of a sphere with radius r is 4/3 π r3. What is the volume of a sphere with radius 5?

In [18]:
π = 3.14159265
r = 5
volume = 3/4 * π * r * r * r
volume

294.5243109375

when π equals to 3.14159265, the volume for r=5 is 294.5243109375

Suppose the cover price of a book is $24.95, but bookstores get a 40% discount. Shipping costs $3 for the first copy and 75 cents for each additional copy. What is the total wholesale cost for 60 copies?

In [49]:
price = 24.95
discount = 0.40
number = 60
shipping = 3 + 0.75 * (number-1)
total= (price * number + shipping)*discount
print("The total wholesale is ${}".format(total))

The total wholesale is $617.7

If I leave my house at 6:52 am and run 1 mile at an easy pace (8:15 per mile), then 3 miles at tempo (7:12 per mile) and 1 mile at easy pace again, what time do I get home for breakfast?

In [39]:
start_time = (6*60 + 52)*60
easy = (8*60 + 15)*2
tempo = (7*60 + 12)*3
total_hour = (start_time + easy + tempo)/(60*60)
int_hour = int(total_hour)
total_minute = (total_hour - int_hour)*60
int_minute = int(total_minute)
print('The time is at {}:{}'.format(int_hour,int_minute))

The time is at 7:30

### Exercise 3.1 ###

*Read the documentation of the string methods at http://docs.python.org/3/library/stdtypes.html#string-methods. You might want to experiment with some of them to make sure you understand how they work. strip and replace are particularly useful.*

*The documentation uses a syntax that might be confusing. For example, in find(sub[, start[, end]]), the brackets indicate optional arguments. So sub is required, but start is optional, and if you include start, then end is optional.*

In [54]:
fruit = 'banana'
print(fruit.find('na',1))

2

### Exercise 3.2 ###

There is a string method called count that is similar to the function in Section 8.7. Read the documentation of this method and write an invocation that counts the number of a’s in 'banana'.

In [52]:
"banana".count("a")

3

### Exercise 3.3 ###

A string slice can take a third index that specifies the “step size”; that is, the number of spaces between successive characters. A step size of 2 means every other character; 3 means every third, etc.

In [42]:
>>> fruit = 'banana'
>>> fruit[0:5:2]

'bnn'

A step size of -1 goes through the word backwards, so the slice [::-1] generates a reversed string.
Use this idiom to write a one-line version of is_palindrome from Exercise 3.

In [50]:
fruit = 'banana'
fruit[::-1]

'ananab'

### Exercise 3.4 ###

The following functions are all intended to check whether a string contains any lowercase letters, but at least some of them are wrong. For each function, describe what the function actually does (assuming that the parameter is a string).

def any_lowercase1(s):
    for c in s:
        if c.islower():
            return True
        else:
            return False

In [58]:
def any_lowercase1(s):
    for c in s:
        if c.islower():
            return True
        else:
            return False
any_lowercase1('HELLO world')

False

The function detects whether the characters of the string are all lowercase, if the string contains any uppercase letters, it will result in "False".

def any_lowercase2(s):
    for c in s:
        if 'c'.islower():
            return 'True'
        else:
            return 'False'

In [61]:
def any_lowercase2(s):
    for c in s:
        if 'c'.islower():
            return 'True'
        else:
            return 'False'
any_lowercase2('HELLOWORLD')

'True'

The function detects if 'c' is a lowercase letter so whatever is put into the function will result in 'True'.

def any_lowercase3(s):
    for c in s:
        flag = c.islower()
    return flag

In [64]:
def any_lowercase3(s):
    for c in s:
        flag = c.islower()
    return flag
any_lowercase3('HELLO world')

True

The function can successfully check whether the string contains any lowercase letters.

def any_lowercase4(s):
    flag = False
    for c in s:
        flag = flag or c.islower()
    return flag

In [67]:
def any_lowercase4(s):
    flag = False
    for c in s:
        flag = flag or c.islower()
    return flag
any_lowercase4('HELLO world')

True

The function can successfully check whether the string contains any lowercase letters.

def any_lowercase5(s):
    for c in s:
        if not c.islower():
            return False
    return True

In [71]:
def any_lowercase5(s):
    for c in s:
        if not c.islower():
            return False
    return True
any_lowercase5('Hello world')

False

The function detects whether the characters of the string are all lowercase, if the string contains any uppercase letters, it will result in "False".

### Exercise 3.5 ###

A Caesar cypher is a weak form of encryption that involves “rotating” each letter by a fixed number of places. To rotate a letter means to shift it through the alphabet, wrapping around to the beginning if necessary, so ’A’ rotated by 3 is ’D’ and ’Z’ rotated by 1 is ’A’.

To rotate a word, rotate each letter by the same amount. For example, “cheer” rotated by 7 is “jolly” and “melon” rotated by -10 is “cubed”. In the movie 2001: A Space Odyssey, the ship computer is called HAL, which is IBM rotated by -1.

Write a function called rotate_word that takes a string and an integer as parameters, and returns a new string that contains the letters from the original string rotated by the given amount.

You might want to use the built-in function ord, which converts a character to a numeric code, and chr, which converts numeric codes to characters. Letters of the alphabet are encoded in alphabetical order, so for example:

In [72]:
>>> ord('c') - ord('a')

2

Because 'c' is the two-eth letter of the alphabet. But beware: the numeric codes for upper case letters are different.

Potentially offensive jokes on the Internet are sometimes encoded in ROT13, which is a Caesar cypher with rotation 13. If you are not easily offended, find and decode some of them. Solution: http://thinkpython2.com/code/rotate.py.

In [76]:
def rotate_string(s):
    for c in range(len(s)):
        if ord('a')<=ord(s[c])<=ord('z'):
            print(chr((ord(s[c])+3-ord('a'))%26+ord('a')),end="")
        elif ord('A')<=ord(s[c])<=ord('Z'):
            print(chr((ord(s[c])+3-ord('A'))%26+ord('A')),end="")
        else:
            print(s[c],end="")
rotate_string('Hello World')

Khoor Zruog