# Chapter2

## Exercise1

In [1]:
n=42

In [2]:
42=n

SyntaxError: cannot assign to literal (1956984606.py, line 1)

#Exercise1.1: we get a SyntaxError. In the case of "42=n", the value cannot be assigned.Because the variable can't begin with a number.

#Exercise1.2:Assign x and y a value of 1

In [3]:
x=y=1
x
y

1

#Exercise1.2:The value of x and y is 1.

In [4]:
x=y=1;
x;
y

1

#Exercise1.3:The python statement ends with a semi-colon, the code can run normally.

In [7]:
x=y=1.
x.
y

SyntaxError: invalid syntax (1932492833.py, line 2)

#Exercise1.4:If the python statement ends with a period, we can get a SyntaxError.

In [8]:
x=y=1
print(xy)

NameError: name 'xy' is not defined

#Exercise1.5:We will get a NameError. Because "xy" is a new name that is not defined.

## Exercise2

In [9]:
π = 3.14159265
r=5
V=4/3*π*r*r*r
V

523.5987749999999

#Exercise2.1: The volume of a sphere with radius 5 is 523.6.

In [12]:
p=24.95
s=3+(60-1)*0.75
t=p*(1-0.4)*60+s
t

945.4499999999999

#Exercise2.2: The total wholesale cost for 60 copies is 945.4$.

In [14]:
easy_time=(8*60+15)*2     #second
tempo=(7*60+12)*3         #second
start_time=(6*60+52)*60   #second
total_time=easy_time+tempo+start_time  #second
total_hour=total_time/(60*60)    
int_hour=int(total_hour)
total_minute=(total_hour-int_hour)*60
int_minute=int(total_minute)
print("the time I get home for breakfast is {} : {}". format(int_hour,int_minute))

the time I get home for breakfast is 7 : 30

#Exercise2.3: The time I get home for breakfast is 7 : 30.

# Chapter8

## Exercise1

In [3]:
word = "banana"

x = word.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [4]:
word = "I like bananas"
x=word.replace("bananas","apples")
print(x)

I like apples

## Exercise2

In [1]:
fruit='banana'
print(fruit.count('a'))

3

The number of 'a'in 'banana'is 3.

## Exercise3

In [1]:
def is_palindrome(word):
    return word == word[::-1]
word="abcba"
reverse_word=is_palindrome(word)
if reverse_word:
    print("True")
else:
    print("Flase")

True

## Exercise4

In [2]:
def any_lowercase1(s): 
    for c in s: 
        if c.islower(): 
            return True 
        else: 
            return False 
#This code tests whether the first letter in a string is lowercase.

In [3]:
def any_lowercase2(s): 
    for c in s: 
        if 'c'.islower(): 
            return 'True' 
        else: 
            return 'False' 
#The answer of this code is always True, because 'c' is a string.

In [4]:
def any_lowercase3(s): 
    for c in s: 
        flag = c.islower() 
    return flag 
#This code tests whether the last letter in a string is lowercase.

In [5]:
def any_lowercase4(s):
    flag = False
    for c in s:
        flag = flag or c.islower()
    return flag

In [6]:
def any_lowercase5(s):
    for c in s:
        if not c.islower():
            return False
    return True
#This tests whether the word is all lowercase or not.

## Exercise5

In [2]:
def Rotate_word(str_, num_):
    result = ''
    for i in str_:
        i = chr(ord(i) + num_)
        result = result + i
    return (result)

str_ =input("Enter a string: ")
num_ = int(input("Enter rotate number: "))
print (Rotate_word(str_,num_))

Enter a string: cheer
Enter rotate number: 7
jolly